body{
    margin-top: 0;
}
header{
    margin-top:0;
    padding:0;
}

header h1{
    margin-bottom:0;
    padding:0;
}
h1{
    font-size: 3rem;
    text-shadow: -4px 3px 0 #34d16e, -12px 5px 0 #0a0e27;
    background-color: rgb(189, 236, 217);
    color: rgb(0, 0, 0);
    padding: 0;
    display: block;
    margin-top:0;
    margin-bottom: 20px;
    font: italic bold 80px Georgia, Serif;
}   

h2{
    font-size: 2rem;
    font-family:cursive;
    
}
body{
    background-color: #098181;
    padding: 0;
  }


.flex-container1{
    display: flex;
    /*flex-wrap: nowrap; Flex-direction: row;*/
    flex-flow: row wrap;
    justify-content: center;
    padding:0px;
    margin: 0;
    list-style: none;
}

.contenedor1{
    display: flex;
    /*flex-wrap: nowrap; Flex-direction: row;*/
    flex-flow: row wrap;
    justify-content:center;
    padding:0;
    margin: 0;
}

.flex-container1 .flex-item {
    width: 250px;
    height: 300px;
    line-height: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

.flex-container1 .flex-item img {
    width: 250px;
    height: 300px;
}

@media only screen and (max-width: 600px){
    .contenedor{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .contenedor{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        }
}